$white: #ffffff;
$black: #000000;
$orange: #ff8d24;
$orange-medium: #fec538;
$orange-light: #ffda80;
$gray: #d2d2d2;
$gray-dark: #6c727f;
$green: #00ca14;
$green-light: #01c120;
$red: #ff0000;
