@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family-default: 'Outfit', sans-serif;

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: $gray-dark;
}

input {
  font-family: $font-family-default;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

@media screen and (max-width: 763px) {
  h1 {
    font-size: 32px;
  }
}
